$ const init = require('../../../../init-data/init.js');

<!-- Home Section -->

<section id="home">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h2>${init.description}</h2>
                    <hr>
               </div>

               <div class="blog-post-thumb">
               		<img class="img-responsive" src="./img1.jpg"/>
               </div>

          </div>
     </div>
</section>